.home-container {
  width: 100%;
}

.main-section {
  height: calc(100vh - 115px);
  width: 100%;
  background-image: url("../Images/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.95;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #292f36;
}

.main-title {
  margin: 0 auto;
  color: #fffc31;
  font-size: 65px;
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 14px;
}

.main-section > h2 {
  color: #f7fff7;
  font-size: 40px;
  margin: 15px 0;
}

.main-section > ul > li {
  color: #f7fff7;
  font-size: 20px;
  margin: 5px 0;
  list-style: none;
}
.instructions-list {
  text-align: left;
}
