.search-container {
  width: 100%;
  height: calc(100vh - 115px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #37393a;
}

.city-search {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
}

.sign-in-toUse {
  color: #fffc31;
  font-size: 35px;
}

.city-search label {
  font-size: 18px;
  color: #fffc31;
}

.search-input {
  margin: 30px 0;
  width: 400px;
  height: 40px;
  font-size: 25px;
  padding: 3px;
  border-radius: 12px;
  border: 1px solid grey;
  text-align: center;
}
.search-btn {
  height: 45px;
  width: 150px;
  margin-top: 10px;
  background-color: #fffc31;
  border-radius: 8px;
  border: 2px solid #292f36;
  font-size: 16px;
}
.choice-buttons,
.search-btn:hover {
  background-color: #f7fff7;
  cursor: pointer;
}
.job-info-container {
  width: 100%;
  height: calc(100vh - 115px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #37393a;
}

.main-job-info {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-options {
  width: 60%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.choice {
  font-size: 30px;
  color: #f7fff7;
}

.choice-buttons {
  height: 100px;
  width: 175px;
  font-size: 25px;
  background-color: #fffc31;
  border: 1.5px solid #292f36;
  border-radius: 10px;
}

.job-location {
  list-style: none;
}
.job-divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  height: 60%;
  width: 30%;
}
.job-divider p {
  margin: 5px 0;
  font-size: 16px;
  color: #f7fff7;
}

.job-location li {
  margin: 3px 0;
  color: #f7fff7;
}

.job-divider > p > span,
.job-location span {
  font-weight: bold;
  color: #fffc31;
  font-size: 16px;
}
.job-poster {
  color: #fffc31 !important;
}
.job-divider h2 {
  margin: 8px 0;
  color: #f7fff7;
}

.job-search-user-pic {
  height: 150px;
  width: 150px;
  margin: 10px auto;
  border-radius: 11px;
}
