@import-normalize;

.nav-main {
  background-color: #292f36;
}

.nav-top {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  height: 85px;
  border-bottom: 1px solid grey;
  box-shadow: 1px, 3px 10px -12px grey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top-links {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.main-logo {
  font-size: 60px;
  width: 20%;
  cursor: pointer;
  color: white;
}

#log-out {
  border: none;
  background: none;
  font-size: 18px;
}
#log-out:hover {
  cursor: pointer;
}

/* Bottom Nav Bar Section */

.nav-bottom {
  height: 30px;
  padding: 4px;
  border-bottom: 1px solid black;
  font-size: 20px;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: flex-start;
}

.view-active-tasks {
  margin-left: auto;
  background: none;
  border: none;
}

.view-active-tasks:hover {
  cursor: pointer;
}

.nav-bottom span {
  margin-right: 15px;
}
.nav-bottom span:first-child {
  margin-left: 10px;
}

.nav-link {
  color: #fffc31;
  text-decoration: none;
  margin-right: 7px;
  font-size: 18px;
}

.active {
  color: #f7fff7;
  text-decoration: underline;
  font-size: 19px;
}

/*  User Job List - Left hand side of the menu  */

.user-job-list-container {
  width: auto;
  z-index: 1000;
  position: fixed;
  background-color: #37393a;
  padding: 5px;
  overflow: hidden;
}

.user-job-list {
  text-align: center;
}

.to-job-nav-link {
  color: #fffc31;
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.ind-job {
  width: 100%;
  overflow: hidden;
  margin: 5px 0;
  border: 1px solid #f7fff7;
  padding: 2px;
}
.history-title {
  text-decoration: underline;
  font-size: 22px;
  font-weight: bolder;
  color: #c7d3dd;
}

.ind-job > ul > li {
  color: #f7fff7;
  font-size: 14px;
}
.ind-job > ul > li > span {
  font-weight: bold;
}
